<div class="row mb-5">
  <div class="col-md-12 col-lg-2 mb-4">
    <div class="h3">Add New Card</div>
    <!-- <div class="h3">Card</div> -->
  </div>

  <div class="col-md-12 col-lg-5 mb-3">
    <!-- 1 card number -->
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label for="number" class="form-label">Card Number</label>
        </div>
        <div class="col">
          <label class="form-label" id="test"></label>
        </div>
      </div>

      <input
        type="text"
        class="form-control"
        id="number"
        name="number"
        placeholder="1234 5678 1234 5678"
        onkeypress="return formats(this,event)"
        onkeyup="return numberValidation(event)"
        required
      />
    </div>

    <!-- 2 issuer -->
    <div class="mb-3">
      <label for="issuer" class="form-label">Issued By (Bank Name)</label>
      <input
        type="text"
        class="form-control"
        id="issuer"
        name="issuer"
        placeholder="Icici / Axis"
        required
      />
    </div>

    <!-- 3 expiary -->
    <div class="mb-3">
      <label for="expiary" class="form-label">Expiary Month/Year</label>
      <input
        type="text"
        class="form-control"
        id="expiary"
        name="expiary"
        placeholder="05/24"
      />
    </div>

    <!-- 4 since -->
    <div class="mb-3">
      <label for="since" class="form-label">Valid From</label>
      <input
        type="text"
        class="form-control"
        id="since"
        name="since"
        placeholder="05/14"
      />
    </div>

    <!-- 5 Account type -->
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="acntype" class="form-label">Account Type</label>
          <!-- <input type="text" class="form-control" id="account" placeholder="Visa/Master"> -->
          <select
            class="form-select"
            id="acntype"
            name="acntype"
            aria-label="Default select example"
          >
            <option selected>CREDIT</option>
            <option value="Debit">DEBIT</option>
            <option value="Debit">ATM</option>
            <!-- <option value="Credit">Two</option> -->
            <!-- <option value="3">Three</option> -->
          </select>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="mb-3">
            <label for="acntype" class="form-label">Status</label>
            <!-- <input type="text" class="form-control" id="account" placeholder="Visa/Master"> -->
            <select
              class="form-select"
              id="status"
              name="status"
              aria-label="Default select example"
            >
              <option selected>Enabled</option>
              <option value="Debit">Disabled</option>
              <option value="Debit">Blocked</option>
              <option value="Debit">Stolen</option>
              <option value="Debit">Losted</option>
              <!-- <option value="Credit">Two</option> -->
              <!-- <option value="3">Three</option> -->
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- 6 Card type -->
    <div class="mb-3">
      <label for="type" class="form-label">Card Type</label>
      <!-- <input type="text" class="form-control" id="type" placeholder="Visa/Master"> -->
      <select
        class="form-select"
        id="type"
        name="type"
        aria-label="Default select example"
      >
        <option selected>VISA</option>
        <option value="Master">MasterCard</option>
        <option value="Amex">AMEX</option>
        <option value="Rupay">RuPay</option>
        <option value="Rupay">Discover</option>
      </select>
    </div>

    <!-- 6 Name on Card -->
    <div class="mb-3">
      <label for="name" class="form-label">Name on Card</label>
      <input
        type="text"
        class="form-control text-capitalize"
        id="name"
        name="name"
        placeholder="Mohan Kumar"
      />
    </div>

    <!-- 7 limit -->
    <div class="mb-3">
      <label for="limit" class="form-label">Total Limit</label>
      <input
        type="number"
        class="form-control"
        id="limit"
        name="limit"
        placeholder="25000"
      />
    </div>
  </div>

  <div class="col-md-12 col-lg-5">
    <div class="row">
      <div class="col">
        <!-- 8 cvv -->
        <div class="mb-3">
          <label for="cvv" class="form-label">CVV Number</label>
          <input
            type="number"
            class="form-control"
            id="cvv"
            name="cvv"
            placeholder="355"
          />
        </div>
      </div>
      <div class="col">
        <!-- 9 pin -->
        <div class="mb-3">
          <label for="pin" class="form-label">Pin Number</label>
          <input
            type="number"
            class="form-control"
            id="pin"
            name="pin"
            placeholder="1234"
          />
        </div>
      </div>
    </div>

    <!-- 10 bill date -->
    <div class="mb-3">
      <label for="billdate" class="form-label">Bill Date</label>
      <input
        type="number"
        class="form-control"
        id="billdate"
        name="billdate"
        placeholder="5"
      />
    </div>

    <!-- 11 stmt password -->
    <div class="mb-3">
      <label for="stmtpwd" class="form-label">Statement Passwrod</label>
      <input
        type="text"
        class="form-control"
        id="stmtpwd"
        name="stmtpwd"
        placeholder="Madh0504"
      />
    </div>

    <!-- 12 helpline -->
    <div class="mb-3">
      <label for="helpline" class="form-label">Customer Care Number</label>
      <input
        type="text"
        class="form-control"
        id="helpline"
        name="helpline"
        placeholder="1800010204564"
      />
    </div>

    <!-- 14 login url -->
    <div class="mb-3">
      <label for="loginurl" class="form-label">Login Url</label>
      <input
        type="text"
        class="form-control"
        id="loginurl"
        name="loginurl"
        placeholder=""
      />
    </div>

    <!-- 15 website -->
    <div class="mb-3">
      <label for="website" class="form-label">Card Website</label>
      <input
        type="text"
        class="form-control"
        id="website"
        name="website"
        placeholder="www.card.com"
      />
    </div>

    <!-- 16 notes -->
    <div class="mb-3">
      <label for="notes" class="form-label">Card Descriptino / Notes</label>
      <textarea
        class="form-control"
        id="notes"
        name="notes"
        rows="1"
      ></textarea>
    </div>

    <!-- 17 Button -->
    <div class="mt-5">
      <!-- d-grid gap-2 d-md-flex justify-content-md-end-->
      <button type="submit" class="btn btn-primary ml-auto">Submit</button>
      <button type="submit" class="btn btn-link ml-auto">Cancel</button>
      <button type="submit" class="btn btn-link ml-auto">Reset</button>
    </div>
  </div>
</div>
