<%-include('./partials/header')%>
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Launch static backdrop modal
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                corporis iste similique voluptate? Quas corporis voluptatibus
                nisi quo fugiat doloribus excepturi minus perspiciatis vitae
                unde, amet omnis doloremque voluptatum quos rem dolore debitis
                ipsam expedita ullam! Velit, maiores ipsa, voluptates dolorum
                blanditiis commodi, voluptas unde expedita in optio quisquam
                necessitatibus?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Understood
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('./partials/footer')%>

<script>
  // const populate = require("  /js/populate.js");
  const log = console.log;
  const doc = document;
  const p = doc.querySelector("p");
</script>
